<div class="sm:h-screen bg-brand selection:bg-blood selection:text-white">
<header class="px-4 py-6 sm:px-6 lg:px-8 xl:px-28 bg-white sticky top-0 border-brand border-b">
  <div class="mx-auto max-w-xl lg:mx-auto">
    <h1 class="flex justify-center text-2xl font-semibold text-brand uppercase">
      Maria Carrasco
      <small class="ml-3 rounded-full bg-brand/5 px-2 text-[0.8125rem] font-medium leading-6 lowercase hidden">
        kostspielig
      </small>
    </h1>
  </div>
</header>
<div class="px-6 py-44 sm:py-44 sm:px-8 lg:px-8 xl:py-52 xl:px-28 bg-brand">
  <div class="mx-auto lg:mx-0 text-white">
    <p class="leading-none mt-4 text-[4rem] max-w-[30rem] sm:max-w-xl lg:max-w-2xl xl:max-w-3xl font-semibold tracking-tighter uppercase">
      Welcome to the week of <%=Calendar.strftime(Date.utc_today(), "%B")%> <%=Date.utc_today().day %> 👏
    </p>
    <div class="mt-40 xl:mt-60 flex justify-end ">
      <p class="font-serif font-medium w-2/3 text-3xl">
        Here is everything you should be <a href="/reading" class="italic hover:bg-blood">reading</a>, <a href="/cooking" class="italic hover:bg-blood">cooking</a> or <i>watching</i> before 📅 <%=Calendar.strftime(Date.utc_today(), "%b")%> <%=Date.end_of_week(Date.utc_today()).day%>.
      </p>
    </div>
  </div>
</div>
</div>
<div class="px-6 py-6 sm:px-8 lg:px-8 xl:px-28">
  <div class="flex justify-center">
    <div class="grid grid-cols-1 gap-y-4 gap-x-4 text-ml leading-6 text-brand sm:grid-cols-2 lg:grid-cols-4 capitalize font-semibold">
      <div>
        <a
          href="https://twitter.com/kostspielig"
          target="_blank"
          class="group -mx-2 -my-0.5 inline-flex items-center gap-3 rounded-lg px-2 py-0.5 hover:bg-zinc-50 hover:text-blood"
        >
        🐦 Scroll on Twitter
        </a>
      </div>
      <div>
        <a
          href="https://instagram.com/kostspielig"
          target="_blank"
          class="group -mx-2 -my-0.5 inline-flex items-center gap-3 rounded-lg px-2 py-0.5 hover:bg-zinc-50 hover:text-blood"
        >
        📸 View on Instagram
        </a>
      </div>
      <div>
        <a
          href="https://github.com/kostspielig"
          target="_blank"
          class="group -mx-2 -my-0.5 inline-flex items-center gap-3 rounded-lg px-2 py-0.5 hover:bg-zinc-50 hover:text-blood"
        >
         🐈‍ Code in GitHub
        </a>
      </div>
      <div>
        <a
          href="https://www.tiktok.com/@kstsplg"
          target="_blank"
          class="group -mx-2 -my-0.5 inline-flex items-center gap-3 rounded-lg px-2 py-0.5 hover:bg-zinc-50 hover:text-blood"
        >
        🎥 Watch on TikTok
        </a>
      </div>
    </div>
  </div>
</div>
