<div class="sm:h-screen bg-brand selection:bg-blood selection:text-white">
<header class="px-4 py-6 sm:px-6 lg:px-8 xl:px-28 bg-white sticky top-0">
  <div class="mx-auto max-w-xl lg:mx-auto">
    <h1 class="flex justify-center text-4xl font-racing font-semibold text-brand bg-white uppercase">
      carras.co
    </h1>
  </div>
</header>
<div class="px-6 py-36 sm:py-40 sm:px-8 md:py-44 lg:px-8 xl:py-52 xl:px-28 bg-brand">
  <div class="mx-auto lg:mx-0 text-white">
    <p class="leading-none mt-4 text-[3.5rem] max-w-[28rem] sm:text-[4rem] sm:max-w-xl lg:max-w-2xl xl:max-w-3xl font-semibold tracking-tighter uppercase">
      Welcome to the week of <%=Calendar.strftime(Date.utc_today(), "%B")%> <%=Date.utc_today().day %> 👏
    </p>
    <div class="mt-40 xl:mt-60 flex justify-end ">
      <p class="font-head font-medium w-2/3 text-2xl sm:text-3xl">
        Here is everything to <a href="/reading" class="italic hover:bg-blood">read</a>, <a href="/cooking" class="italic hover:bg-blood">cook</a> or <a href="https://www.imdb.com/user/ur65531471/watchlist?sort=date_added%2Cdesc&view=detail" class="italic hover:bg-blood" target="_blank">watch</a> before 📅 <%=Calendar.strftime(Date.utc_today(), "%b")%> <%=Date.end_of_week(Date.utc_today()).day%>.
      </p>
    </div>
  </div>
</div>
</div>
