<div class="sm:min-h-screen bg-brand">
  <.page_header />
  <div class="px-6 py-36 sm:py-40 sm:px-8 md:py-44 lg:px-8 xl:py-52 xl:px-28 bg-brand">
    <div class="mx-auto lg:mx-0 text-white w-72">
      <.card info={%{title: "mrunner", description: "game in clojurescript", subtitle: "Runner Game written in Clojurescript", cover: "https://gigalixir-maria.s3.eu-central-1.amazonaws.com/maria/mrunner-2016.png"}} />
    </div>
  </div>
</div>
