<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>carras.co ☢️</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦪</text></svg>">   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloock&family=Racing+Sans+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/app.css"/>
    <meta name="theme-color" content="#3aadec" />
    <meta name="description" content="Personal recommendations by Maria Carrasco" />
    <script defer type="text/javascript" src="/js/app.js"></script>
  </head>
  <body>
<div class="sm:min-h-screen bg-brand">
  <.page_header />
  <div class="px-6 py-36 sm:py-40 sm:px-8 md:py-44 lg:px-8 xl:py-52 xl:px-28 bg-brand">
    <div class="mx-auto text-white">
      <p class="leading-none mt-4 text-[3.5rem] flex justify-center font-semibold tracking-tighter">
        404 <span class="inline-block animate-wave hover:animate-waving cursor-grab">💔</span>
      </p>
      <div class="mt-10 flex justify-center text-center">
        <p class="font-head font-medium w-[460px] text-2xl">
          The page you are looking for is not here, go back <.link_hover class="italic" href="/">home</.link_hover>.
        </p>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
