@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

body::-webkit-scrollbar {
  width: 0.4em;
}

/* Vertical Scrollbar */

body::-webkit-scrollbar-track {
  background-color: #fdc690;
}

body::-webkit-scrollbar-thumb {
  @apply bg-blood;

}

/* Horizontal Scrollbar */

::-webkit-scrollbar {
  height: 0.25em;
  background-color: #fdde7a;
}

::-webkit-scrollbar-thumb {
  background-color: #fbb506;
}


/* CKEditor and Recipe display custom styles */
#recipe-content figure.media > div[data-oembed-url] > div {
  padding-bottom: 20% !important;
}

.ck-editor a, .recipe a{
  @apply text-brand font-bold;
}

.ck-editor a:hover, .recipe a:hover {
  @apply text-blood;
}

.ck-editor ol {
  margin: 1em 0;
  padding-left: 40px;
  list-style: decimal;
}

.ck-editor__editable {
    min-height: 25vh;
}

.ck.ck-button.ck-heading_title {
  @apply text-xl font-bold;
}

.recipe h1,
.ck-editor h1,
.ck-editor .ck-heading_title {
  @apply text-xl font-bold mt-6 mb-2;
}

/* Recipes */
.recipe ol {
  margin: 1rem 0;
  list-style: none;
  counter-reset: step-counter;
}

.recipe ol li {
  margin: 1rem 0;
  counter-increment: step-counter;
}

.recipe ol li::before {
  content: 'Step ' counter(step-counter) '. ';
  font-weight: 600;
}

.recipe blockquote {
  border-left: 7px solid #3aadec94;
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.card .card-img:hover::before {
    border-radius: 50%;
}

.card .card-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 0 6em #ef7801;
    transition: border-radius .2s;
}
