@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* This file is for your main application CSS */

body::-webkit-scrollbar {
  width: 0.4em;
}

/* Vertical Scrollbar */

body::-webkit-scrollbar-track {
  background-color: #fdc690;
}

body::-webkit-scrollbar-thumb {
  background-color: #ef7801;

}

/* Horizontal Scrollbar */

::-webkit-scrollbar {
  height: 0.18em;
  background-color: #cdd5cd;
}

::-webkit-scrollbar-thumb {
  background-color: #181A18;
}


/* CKEditor Custom styles */

.ck-editor a {
  color:  #3aadec;
  font-weight: 800;
}

.ck-editor a:hover {
  color:  #ef7801;
}

.ck-editor ol {
  margin: 1em 0;
  padding-left: 40px;
  list-style: decimal;
}

.ck-editor__editable {
    min-height: 25vh;
}
