

<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4 items-center justify-center">
  <%= for recipe <- @recipes do %>
    <.card info={recipe} row_click={&JS.navigate(~p"/recipes/#{&1}")}/>
  <% end %>
</div>
